<ion-header>
  <ion-toolbar>
    <ion-title>{{ searchTerm }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="light" (click)="back()"
    ><ion-icon name="arrow-back"></ion-icon> Back</ion-button
  >

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of searchItems">
        <search-item
          menu_id="{{ item.menu_id }}"
          item_id="{{ item.menu_item_id }}"
        ></search-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
