<ion-header>
  <ion-toolbar>
    <ion-title>Weekoverzicht</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="modalClose()">
        Sluiten
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>maandag 24-6-2019 </ion-card-title>
    <ion-card-content><ion-button color="success  " (click)="PresentModal()">Bekijk overzicht</ion-button></ion-card-content>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>dinsdag 25-6-2019</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>woensdag 26-6-2019</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>donderdag 27-6-2019</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>vrijdag 28-6-2019</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>zaterdag 29-2019</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>zondag 30-6-2019</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-content> </ion-content>
