<ion-header>
  <ion-toolbar>
    <ion-title>Weekoverzicht</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="modalClose()">
        Sluiten
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    <ion-item>
        <ion-label>maandag 24-6-2019</ion-label>
    <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
        <ion-label>Gerechten</ion-label>
        <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-select-option   value="brown">Ontbijt - Gebakken ei</ion-select-option>
          <ion-select-option value="blonde">Lunch - Sandwich</ion-select-option>
          <ion-select-option value="black">Avondeten - Lasagna</ion-select-option>
        </ion-select>
    </ion-select>
      </ion-item>

    <ion-item>
      <ion-label>dinsdag 25-6-2019</ion-label>
       <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
        <ion-label>Gerechten</ion-label>
        <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Ontbijt - Gebakken ei</ion-select-option>
          <ion-select-option value="blonde">Lunch - Sandwich</ion-select-option>
          <ion-select-option value="black">Avondeten - Lasagna</ion-select-option>
        </ion-select>
    </ion-select>
    </ion-item>
    
    <ion-item>
        <ion-label>woensdag 26-6-2019</ion-label>
         <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-label>Gerechten</ion-label>
          <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Ontbijt - Gebakken ei</ion-select-option>
            <ion-select-option value="blonde">Lunch - Sandwich</ion-select-option>
            <ion-select-option value="black">Avondeten - Lasagna</ion-select-option>
          </ion-select>
      </ion-select>
      </ion-item>

      
    <ion-item>
        <ion-label>donderdag 27-6-2019</ion-label>
         <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-label>Gerechten</ion-label>
          <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Ontbijt - Gebakken ei</ion-select-option>
            <ion-select-option value="blonde">Lunch - Sandwich</ion-select-option>
            <ion-select-option value="black">Avondeten - Lasagna</ion-select-option>
          </ion-select>
      </ion-select>
      </ion-item>

            
    <ion-item>
        <ion-label>vrijdag 28-6-2019</ion-label>
         <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-label>Gerechten</ion-label>
          <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Ontbijt - Gebakken ei</ion-select-option>
            <ion-select-option value="blonde">Lunch - Sandwich</ion-select-option>
            <ion-select-option value="black">Avondeten - Lasagna</ion-select-option>
          </ion-select>
      </ion-select>
      </ion-item>

            
    <ion-item>
        <ion-label>zaterdag 29-6-2019</ion-label>
         <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-label>Gerechten</ion-label>
          <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          </ion-select>
      </ion-select>
      </ion-item>

            
    <ion-item>
        <ion-label>zondag 30-6-2019</ion-label>
         <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          <ion-label>Gerechten</ion-label>
          <ion-select value="Gerechten" okText="Okay" cancelText="Dismiss">
          </ion-select>
      </ion-select>
      </ion-item>
  
      <ion-button color="success"(click)="PresentModal()">Bekijk de voedingswaardes van de geselecteerde gerechten</ion-button>

<ion-content></ion-content>
