.logo {
    max-height: 50px;
}

ion-grid {
    padding: 0;
    ion-col {
        padding: 0;
    }
}

.center-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;;
}