<ion-header>
  <ion-toolbar>
    <ion-title>Dranken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <ion-img src="https://previews.123rf.com/images/yuliadavidovich/yuliadavidovich1301/yuliadavidovich130100338/17512955-cold-tomato-soup-in-a-glass-beaker.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Een tomatensoepje</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Een lekker soepje in een beker dat je kan drinken.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
