<ion-content>
  <div class="ion-margin">
    <h1 class="ion-text-center">
      Ziekenhuis gelderse vallei pattiënt login
    </h1>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeMd="6" sizeSm="12" sizeXs="12">
          <ion-item>
            <ion-label position="floating">Patiëntnummer</ion-label>
            <ion-input [(ngModel)]="loginData.nummer" type="number"></ion-input>
          </ion-item>
          <ion-button (click)="login()" class="ion-margin">Inloggen</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <img
      src="https://www.geldersevallei.nl/papo/theme/themes/zgv/images/logo.png"
      class="logo"
      alt=""
    />
  </ion-toolbar>
</ion-footer>

<!-- test falco -->