<ion-header>
  <ion-toolbar>
    <ion-title>Informatie</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="modalClose()">
        Sluiten
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Bestelling maken</ion-card-subtitle>
    <ion-card-title>Hoe werkt het?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   U kunt kiezen uit verschillenden gerecten uit onze keuken. U heeft toegang tot ontbijt, lunch en avondeten. 
   Deze gerechten worden binnen 45 minuten geleverd.
   Om 12 uur kunt u de ontbijt gerechten niet meer selecteren.   
  </ion-card-content>
</ion-card>

<ion-content> </ion-content>
