<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="back()"
          ><ion-icon color="success" name="arrow-back"></ion-icon>
          Terug</ion-button
        >
        <h1>{{ menu_type }}</h1>
      </ion-col>
    </ion-row>
    <ion-card *ngIf="item !== null">
      <ion-row padding>
        <ion-col>
          <h2>{{ item.data().naam }}</h2>
          <div *ngIf="item.data().fotoPath !== null">
            <ion-img [src]="item.data().fotoPath"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <h2>Opties</h2>
          <ion-list>
            <ion-item *ngFor="let ingredient of item.data().ingredienten">
              <ion-label>{{ ingredient }}</ion-label>
              <ion-toggle
                (ionChange)="ingredientchange($event, ingredient)"
                color="success"
                checked
                slot="end"
              ></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col size="10">
          <h3>Beschrijving</h3>
          <p>{{ item.data().beschrijving }}</p>
        </ion-col>
        <ion-col size="auto" class="ion-align-self-end">
          <ion-button (click)="onClickIngredienten()" color="success"
            >Ingrediënten</ion-button
          >
          <ion-button (click)="bestel()" color="success"
            >Bestel gerecht</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
