<ion-card *ngIf="item != null">
  <div class="item_image_holder">
    <img class="item_image" src="{{ item.data().fotoPath }}" alt="" />
  </div>
  <ion-card-header>
    <ion-card-title>{{ item.data().naam }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ item.data().beschrijving }}
    <ion-grid>
      <ion-row>
        <ion-col size="6"
          ><ion-button color="success" (click)="gotoSingle()" expand="full"
            >Bestel</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
